.centered{
	text-align: center;
}
.starter-template{
	padding: 40px 15px;
	text-align: center;
}
.mbottom40{
	margin-bottom: 40px;
}
.mtop100{
	margin-top: 100px;
}
.purple{
	color:purple;
	font-weight: bold;
}